


/* Rule set */
div{
    /* Code block */
    
    
        /* Properties : values */

        width: 100px;
        height: 100px;
        border: 3px solid rebeccapurple;
        border-radius: 10px;
        background-image: url(../../img/coffee.jpg);
        background-size: cover;
        /* repeat with sizes is redundant */
        background-repeat: no-repeat;

        /* display: none; */
        /* display: block;  */
        display: inline-block;
        /* display: table; */
        /* display: inline; */
        
    }
    /* :not(WHAT YOU WANT TO KEEP IN EXCEPTION) */

    img:not(.example){
       /* border: 10px groove coral;  */
       width: 150px;
        height: 150px;
        border-radius: 100%;

        /* padding is in between content and border */
        padding: 20px;
        /* space between the elements */
        margin: 40px;
    }
    
    .hedgehog1{
        border: 10px dashed green;
    }
    
    .hedgehog2{
        border: 10px dotted palevioletred;
    }
    
    .hedgehog3{
        border: 10px double khaki;
    }
    
    .hedgehog4{
        border: 10px groove lightseagreen;
    }

