body,nav, main{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    height: 50vh;
}

body{
    width: 50%;
    margin: 0 auto;
    position: relative;
}

nav{
    border: 1px solid red;
    width: 20%;
    position: absolute;
    top: 0;
    left:0;
}

main{
    border: solid 1px black;
    margin-left: 20%;
}