/* Rule set */
div, img{
    /* Code block */
    
    
        /* Properties : values */
        width: 150px;
        height: 150px;
        border: 3px solid rebeccapurple;
    }
    
    img{
       border: 10px groove coral; 
    }
    
    .triangle1{
        border: 10px dashed green;
    }
    
    .triangle2{
        border: 10px dotted palevioletred;
    }
    
    .triangle3{
        border: 10px double khaki;
    }
    
    .triangle4{
        border: 10px groove lightseagreen;
    }
    
    