* {
	border: 1px solid hotpink;
}

html{
    /* format text */
	font-family: "Cantarell", sans-serif;
    color: whitesmoke;
}

#index_above-the-fold {
	/* Make the container be as big as the window */
	height: 100vh;

	/* Layout
    Center and make column */
    text-align: center;

	display: flex;
	flex-flow: column nowrap;

	justify-content: center;
	align-items: center;

	/* background-image: ; */
	background-color: #5b5b5b; /* for when the image is not yet loaded */
	background-image: url(../img/background-photo.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	/* background-origin: border-box; don't include a line that does nothing */
	background-attachment: fixed;
    
    /* format text */
    text-transform: capitalize;
}

    /* format text */

h1{
font-size: 3rem;
/* Normal weight */
}

h2{
font-size: 1.4rem;
font-weight: 700;
/* bold */
}

h3{
font-size: 1.4rem;

}

button{
font-size: 1.4rem;
font-weight: 700;
/* bold */
}

#idx-atf-middle{
    text-align: center;
    margin: 2rem;
}

.more-sec h2 {
	text-align: center;
}
