body{
    width: 80vw;
    height: 50vh;

    margin: 1rem auto;
    border: 1px solid black;
    /* my nav will atach to this */
    position: relative;
}


nav{
    width: 15%;
}

main{
    /* from my body move 20% to the right */
    position: absolute;
    top: 0;
    left: 15%;

    padding: 10px;
    padding-top: 0;


    border-left: dashed 1px gray;

}