/* flex container */
.flexcontainer {
    border: 5px solid red;
    height: 80vh;

    display: flex;
}

/* flex items */
.flexcontainer  div {
    /* formatting */
    width: 100px;
    height: 100px;
    margin: 1em;
    border: 1px solid black;
    background-color: darkgray;
    text-align: center;
}

/* First container */
.container_1{
    /* Default values */
    flex-flow: row nowrap;
    /* justify doesnt does much because
    there is barely space to work with */
    justify-content: center;
    align-items: flex-end;
    
}

.container_2{
flex-flow: row wrap;
justify-content: flex-end;
align-content: space-between;

}

.container_3{
flex-flow: column wrap;
justify-content: center;
align-content: space-around; 
}

.container_4{
flex-flow: column nowrap;
justify-content: flex-start;
align-items: flex-end;
}

.container_5{
    flex-flow: row-reverse nowrap;
}

.container_6{
    flex-flow: row-reverse wrap;
}

.container_7{
    flex-flow: column-reverse nowrap;
}

.container_8{
    flex-flow: column-reverse wrap;
}