* {
	border: 1px solid red;
}
body {
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	font-size: 3rem;
}

div {
	width: 80%;
	display: flex;
	flex-flow: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
p {
	height: 30vh;
	width: 75%;
	text-align: center;
}
/* vertical align center */
.px {
	vertical-align: 60px;
}

.minuspx {
	vertical-align: -60px;
}
.baseline {
	vertical-align: baseline;
}

.sub {
	vertical-align: sub;
}
.super {
	vertical-align: super;
}

.text-top {
	vertical-align: text-top;
}
.text-bottom {
	vertical-align: text-bottom;
}

.middle {
	vertical-align: middle;
}
.top {
	vertical-align: top;
}
.bottom {
	vertical-align: bottom;
}
