
h2 {
    font-size: 5vw; 
}

p, div{
    text-align:justify;
    font-size: 2rem;
}

/* Start here */

.letter{
    letter-spacing: 2rem;
}

.word{
    word-spacing: 2rem;
}

.color{
    color: hotpink;
}

.google{
    font-family: 'Raleway', sans-serif;
}

.align{
    text-align: right;
}

.shadow{
    /* text-shadow: offset-x | offset-y | blur-radius | color */
    text-shadow: 3px 3px 5px deeppink;
}

.none{
    text-decoration: none;
}

.underline{
text-decoration: underline;
}

.overline{
text-decoration: overline;
}

.line-through{
text-decoration: line-through;
}

.all{
    text-decoration: underline overline line-through;
}