html{
    font-size: 2rem;
}

header{
    border: dashed 2px gray;
    height: 100vh;
}

/* my header .center is the flex container */
.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.end{
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.start{
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.flex-end{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.right{
    display: flex;
    flex-direction: column;
    justify-content: right;
}

.space-between{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.space-around{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.space-evenly{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.stretch{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}


div{
    width: 3rem;
    height: 3rem;
    border: solid 1px black;
    background-color: tomato;
    
    /* To center text inside the divs */
    display: flex;
    justify-content: center; /*Centers horizontally*/
    align-items: center; /*Centers vertically*/

}