div{
    display: inline-block;
    border: .2rem solid black;
    border-radius: 3rem;
    width: 10rem;
    height: 5rem;
    
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.yellow{
    background-color: yellow;
}

.green{
    background-color: green;
}
