
/* div */
.fixedsize{
    width: 200px;
    height: 200px;
    background-color: brown;
}
p{
    border-radius: 15px;
    border: 5px solid  burlywood;
}
/* div */
.grooved{
    border: 20px groove red;
}