/* do not select all divs */
div,
img{
    border: 2px solid red;
    margin: 2rem;
}

img{
    width: 300px;
    height: 300px;
}

/* float the first image to the right */
#right{
    float: right;
}

/* float the second image to the left */
#left{
    float: left;
}


/* float with overflow */
#left2{
    float: left;
}

/* float WITHOUT OVERFLOW, FIXED
using overflow: auto*/
#left3{
    float: left;
    
}

.fix-overflow{
    overflow: auto;
}
