
div{
    width: 100%;
    height: 10rem;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-flow: row wrap;
    border: solid 1px red;
}

.c1{
    background-color: antiquewhite;
}

.c2{
    background-color: aqua;
}

.c3{
    background-color: blue;
}

.c4{
    background-color: blueviolet;
}

.c5{
    background-color: brown;
}